:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.teleport-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teleport-menu-mobile {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.teleport-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teleport-show {
  display: flex !important;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.list-menu{
  position: absolute;
  margin-left: 21.5%;
  margin-right: 30%;
  margin-top: 120px;
}

button.bullet-menu{
  width: 50px;
  height: 50px;
  padding-left: 14px;
  padding-right: 10px;
  background: #4D7520;
  border-radius: 100%;
}

button.bullet-menu:hover{
  background: #2D4710;
  padding-left: 10px;
  transition: 0.3s ease-out;
  border: 5px solid #4D7520;
}

button.bullet-menu.pt1{
  height: 40px;
  width: 40px;
  padding-left: 12px;
  padding-right: 10px;
  background: #4D7520;
}

button.bullet-menu.pt1:hover{
  background: #2D4710;
  padding-left: 10px;
  transition: 0.3s ease-out;
  border: 5px solid #4D7520;
  padding-left: 6px;
}

button.bullet-menu.pt1.home, button.bullet-menu.pt1.dnt, button.bullet-menu.pt1.user, button.bullet-menu.pt1.about{
  margin-top: 4%;
}

button.src-btn{
  width: 50px;
  height: 50px;
  position: relative;
  padding-left: 14px;
  padding-right: 10px;
  background: #4D7520;
  border-radius: 100%;
  margin-right: -13px;
  margin-top : 14px;
}

button:hover {
  background: #2D4710;
  padding-left: 10px;
  transition: 0.3s ease-out;
  border: 5px solid #4D7520;
}
.rumah-textinput.input:focus{
  transition: 0.3s ease-out;
  filter: drop-shadow(0px 4px 4px rgba(123, 97, 255, 0.25));
}
