.tentang-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tentang-container01 {
  width: 100%;
  height: 928px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(172, 255, 173, 0.2);
}
.tentang-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0.1%;
  padding-top: var(--dl-space-space-twounits);
  justify-content: center;
}
.tentang-container03 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.tentang-text {
  font-family: Cardo;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
}
.tentang-container04 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image01 {
  width: 100px;
  object-fit: cover;
}
.tentang-container05 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.tentang-textinput {
  top: 32px;
  left: 26px;
  width: var(--dl-size-size-xxlarge);
  height: 50px;
  position: absolute;
  font-family: Cardo;
  border-width: 0px;
  padding-left: 10%;
  border-radius: 20px;
}
.tentang-image02 {
  top: 32px;
  right: -15px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
}
.tentang-container06 {
  width: 1280px;
  height: 676px;
  display: flex;
  position: relative;
  margin-top: 55px;
  align-items: flex-start;
  padding-left: 130px;
  padding-right: 130px;
}
.tentang-image03 {
  top: -26px;
  left: 0px;
  width: 445px;
  height: 590px;
  position: absolute;
  object-fit: cover;
}
.tentang-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-left: 4%;
}
.tentang-text01 {
  color: #2d4710;
  width: 939px;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  font-family: Oswald;
  font-weight: 500;
}
.tentang-image04 {
  top: 90%;
  left: 12%;
  right: 20%;
  width: 24px;
  position: absolute;
  object-fit: cover;
}
.tentang-image05 {
  top: 90%;
  left: 15%;
  right: 14%;
  width: 24px;
  bottom: 40px;
  position: absolute;
  object-fit: cover;
}
.tentang-image06 {
  top: 90%;
  left: 9%;
  width: 25px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.tentang-container08 {
  flex: 0 0 auto;
  left: 250px;
  width: 727px;
  bottom: 128px;
  height: 173px;
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.tentang-text07 {
  color: #4b4453;
  font-size: 24px;
  text-align: center;
  font-family: Cardo;
  line-height: 32.5px;
}
.tentang-button {
  top: 81px;
  left: 230px;
  color: #fdfdfc;
  width: 243px;
  height: 70px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: Cardo;
  border-radius: 20px;
  background-color: #4D7520;
}
.tentang-image07 {
  right: -48px;
  width: 453px;
  bottom: -51px;
  height: 498px;
  position: absolute;
  object-fit: cover;
}
.tentang-container09 {
  width: 100%;
  height: 561px;
  display: flex;
  align-items: flex-start;
  padding-top: 10%;
  padding-left: 18%;
  padding-right: 28%;
  flex-direction: column;
  justify-content: center;
}
.tentang-text08 {
  color: #2d4710;
  font-size: 64px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.tentang-text13 {
  font-size: 24px;
  font-style: normal;
  margin-top: 3%;
  text-align: justify;
  font-family: Cardo;
  font-weight: 400;
}
.tentang-container10 {
  width: 100%;
  height: 863px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 10%;
  padding-left: 18%;
  padding-right: 28%;
  flex-direction: column;
  justify-content: flex-start;
}
.tentang-text14 {
  color: #2d4710;
  font-size: 64px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.tentang-image08 {
  top: -179px;
  right: -2px;
  width: 601px;
  height: 764px;
  position: absolute;
  object-fit: cover;
}
.tentang-text16 {
  font-size: 24px;
  font-style: normal;
  margin-top: 3%;
  text-align: justify;
  font-family: Cardo;
  font-weight: 400;
}
.tentang-container11 {
  width: auto;
  height: 255px;
  display: flex;
  margin-top: 10%;
  align-items: flex-start;
  justify-content: flex-start;
}
.tentang-container12 {
  flex: 0 0 auto;
  width: 246px;
  height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image09 {
  width: 226px;
  height: 285px;
  object-fit: cover;
}
.tentang-container13 {
  flex: 0 0 auto;
  width: 246px;
  height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image10 {
  width: 226px;
  object-fit: cover;
}
.tentang-container14 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  margin-top: 0%;
  align-items: flex-start;
  justify-content: flex-start;
}
.tentang-container15 {
  flex: 0 0 auto;
  width: auto;
  height: 257px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tentang-container16 {
  flex: 0 0 auto;
  width: 246px;
  height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image11 {
  width: 226px;
  object-fit: cover;
}
.tentang-container17 {
  flex: 0 0 auto;
  width: 246px;
  height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image12 {
  width: 226px;
  object-fit: cover;
}
.tentang-container18 {
  flex: 0 0 auto;
  width: 246px;
  height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image13 {
  width: 226px;
  object-fit: cover;
}
.tentang-container19 {
  width: 1280px;
  height: 701px;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
}
.tentang-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 216px;
  display: flex;
  margin-top: -5%;
  align-items: flex-start;
  margin-left: 0%;
  margin-right: 0%;
  flex-direction: column;
  justify-content: center;
}
.tentang-text19 {
  color: #2d4710;
  font-size: 48px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Oswald;
  font-weight: 400;
  margin-left: -5%;
}
.tentang-text20 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  font-family: Cardo;
  margin-left: 18%;
  margin-right: 22%;
}
.tentang-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 1%;
  align-items: center;
  padding-left: 24%;
  padding-right: 24%;
  justify-content: flex-start;
}
.tentang-container22 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tentang-container23 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image14 {
  width: 100px;
  object-fit: cover;
}
.tentang-text21 {
  color: #2d4710;
  font-size: 20px;
  align-self: center;
  margin-top: 8%;
  text-align: center;
  font-family: Cardo;
}
.tentang-container24 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image15 {
  width: 100px;
  object-fit: cover;
}
.tentang-text22 {
  color: #2d4710;
  font-size: 20px;
  align-self: center;
  margin-top: 8%;
  text-align: center;
  font-family: Cardo;
}
.tentang-container25 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image16 {
  width: 100px;
  object-fit: cover;
}
.tentang-text23 {
  color: #2d4710;
  font-size: 20px;
  align-self: center;
  margin-top: 8%;
  text-align: center;
  font-family: Cardo;
}
.tentang-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(172, 255, 173, 0.2);
}
.tentang-container27 {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-image17 {
  top: 92px;
  right: -75px;
  width: 287px;
  height: 107px;
  position: absolute;
  object-fit: cover;
}
.tentang-container28 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-text24 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.tentang-text25 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text26 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text27 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text28 {
  left: 78px;
  color: #20330b;
  bottom: 25%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-container29 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-text29 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.tentang-text30 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text31 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text32 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-image18 {
  right: -1px;
  width: 210px;
  bottom: 4px;
  height: 250px;
  position: absolute;
  object-fit: cover;
}
.tentang-container30 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tentang-text33 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.tentang-text34 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text35 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.tentang-text36 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}

.bullet-menu.src-btn{
  margin-left: 10%;
}