.donasi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donasi-container01 {
  width: 100%;
  height: 928px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(172, 255, 173, 0.2);
}
.donasi-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: -5px;
  padding-top: var(--dl-space-space-twounits);
  justify-content: center;
}
.donasi-container03 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donasi-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: -20px;
}
.donasi-image:hover {
  background-image: url("public/playground_assets/group%2022%20variant2.svg");
}
.donasi-text {
  font-family: Cardo;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
}
.donasi-container04 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-image01 {
  width: 100px;
  object-fit: cover;
}
.donasi-container05 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.donasi-textinput {
  top: 32px;
  left: 26px;
  width: var(--dl-size-size-xxlarge);
  height: 50px;
  position: absolute;
  font-family: Cardo;
  border-width: 0px;
  padding-left: 10%;
  border-radius: 20px;
}
.donasi-image02 {
  top: 32px;
  right: -15px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
}
.donasi-container06 {
  width: 1280px;
  height: 676px;
  display: flex;
  position: relative;
  margin-top: 55px;
  align-items: flex-start;
  padding-left: 130px;
  padding-right: 130px;
}
.donasi-image03 {
  top: -26px;
  left: 0px;
  width: 445px;
  height: 590px;
  position: absolute;
  object-fit: cover;
}
.donasi-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-left: 4%;
}
.donasi-text01 {
  color: #2d4710;
  width: 939px;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  font-family: Oswald;
  font-weight: 500;
}
.donasi-text02 {
  font-style: normal;
  font-family: Oswald;
  font-weight: 500;
}
.donasi-text04 {
  font-style: normal;
  font-family: Oswald;
  font-weight: 500;
}
.donasi-text06 {
  font-style: normal;
  font-family: Oswald;
  font-weight: 500;
}
.donasi-image04 {
  top: 90%;
  left: 12%;
  right: 20%;
  width: 24px;
  position: absolute;
  object-fit: cover;
}
.donasi-image05 {
  top: 90%;
  left: 15%;
  right: 14%;
  width: 24px;
  bottom: 40px;
  position: absolute;
  object-fit: cover;
}
.donasi-image06 {
  top: 90%;
  left: 9%;
  width: 25px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.donasi-container08 {
  flex: 0 0 auto;
  left: 250px;
  width: 727px;
  bottom: 128px;
  height: 173px;
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.donasi-text07 {
  color: #4b4453;
  font-size: 24px;
  text-align: center;
  font-family: Cardo;
  line-height: 32.5px;
}
.donasi-button {
  top: 81px;
  left: 230px;
  color: #fdfdfc;
  width: 243px;
  height: 70px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: Cardo;
  padding-top: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  background-color: #4D7520;
}
.donasi-image07 {
  right: 2px;
  width: 431px;
  bottom: -47px;
  height: 350px;
  position: absolute;
  object-fit: cover;
}
.donasi-container09 {
  width: 1280px;
  height: 701px;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
}
.donasi-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 216px;
  display: flex;
  align-self: center;
  margin-top: -5%;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  flex-direction: column;
  justify-content: center;
}
.donasi-text08 {
  color: #2d4710;
  font-size: 48px;
  font-style: normal;
  text-align: center;
  font-family: Oswald;
  font-weight: 400;
  margin-left: 0%;
}
.donasi-text09 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  font-family: Cardo;
  margin-left: 22%;
  margin-right: 22%;
}
.donasi-text10 {
  font-family: Cardo;
}
.donasi-text12 {
  font-family: Cardo;
}
.donasi-text13 {
  font-family: Cardo;
}
.donasi-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 1%;
  align-items: center;
  padding-left: 27%;
  padding-right: 27%;
  justify-content: flex-start;
}
.donasi-container12 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donasi-container13 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-image08 {
  width: 100px;
  object-fit: cover;
}
.donasi-text14 {
  color: #2d4710;
  font-size: 20px;
  align-self: center;
  margin-top: 8%;
  text-align: center;
  font-family: Cardo;
}
.donasi-container14 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-image09 {
  width: 100px;
  object-fit: cover;
}
.donasi-text15 {
  color: #2d4710;
  font-size: 20px;
  margin-top: 8%;
  text-align: center;
  font-family: Cardo;
}
.donasi-container15 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-image10 {
  width: 100px;
  object-fit: cover;
}
.donasi-text17 {
  color: #2d4710;
  font-size: 20px;
  margin-top: 8%;
  text-align: center;
  font-family: Cardo;
}
.donasi-container16 {
  width: 100%;
  height: 324px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.donasi-container17 {
  flex: 0 0 auto;
  width: 942px;
  height: 323px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(172, 255, 173, 0.2);
}
.donasi-container18 {
  flex: 0 0 auto;
  width: 556px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 1%;
  flex-direction: column;
  justify-content: center;
}
.donasi-text20 {
  color: #20330b;
  font-size: 48px;
  align-self: flex-start;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.donasi-text21 {
  font-size: 24px;
  align-self: flex-start;
  margin-top: 2%;
  font-family: Cardo;
  margin-bottom: 3%;
}
.donasi-textinput1 {
  width: 290px;
  height: 58px;
  align-self: flex-start;
  border-width: 0px;
  border-radius: 10px;
}
.donasi-text27 {
  align-self: flex-start;
}
.donasi-container19 {
  flex: 0 0 auto;
  width: 380px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-button1 {
  left: 62px;
  color: #fdfdfc;
  width: 243px;
  bottom: 27px;
  height: 70px;
  position: absolute;
  font-size: 24px;
  text-align: center;
  font-family: Cardo;
  padding-top: 20px;
  padding-left: 50px;
  border-radius: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: #4d7520;
}
.donasi-image11 {
  top: 46px;
  left: 100px;
  width: 183px;
  height: 176px;
  position: absolute;
  object-fit: cover;
}
.donasi-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-top: 5%;
  align-items: flex-start;
  padding-left: 160px;
  padding-right: 150px;
  justify-content: flex-start;
}
.donasi-container21 {
  flex: 0 0 auto;
  float: left;
  width: 300px;
  background: #FDFDFC;
  border: 0.5px solid rgba(172, 255, 173, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  height: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donasi-container21:hover{
  filter: drop-shadow(0px 4px 4px rgba(123, 97, 255, 0.25));
  transition: 0.5s ease-out;
}

.donasi-container22 {
  flex: 0 0 auto;
  width: 314px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donasi-container23 {
  flex: 0 0 auto;
  width: 314px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donasi-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  margin-top: 15%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(172, 255, 173, 0.2);
}
.donasi-container25 {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-image12 {
  top: 92px;
  right: -75px;
  width: 287px;
  height: 107px;
  position: absolute;
  object-fit: cover;
}
.donasi-container26 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-text28 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.donasi-text29 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text30 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text31 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text32 {
  left: 78px;
  color: #20330b;
  bottom: 25%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-container27 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-text33 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.donasi-text34 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text35 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text36 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-image13 {
  right: -1px;
  width: 210px;
  bottom: 4px;
  height: 250px;
  position: absolute;
  object-fit: cover;
}
.donasi-container28 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donasi-text37 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.donasi-text38 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text39 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.donasi-text40 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}

.hcard img{
  border-radius: 20px 20px 0px 0px;
  width: 300px;
  height: 190px;
}

.ccard h2{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: flex-end;
  text-align: justify;
  color: #4B4453;
}

.ccard{
  padding-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
}
.ccard p{
  margin-top: 2%;
  font-family: 'Cardo', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: justify;
}
.fcard button{
  margin-top: 20px;
  margin-left: 63%;
  padding-left: 13%;
  padding-right: 20%;
  width: 100px;
  height: 40px;
  background: #4D7520;
  border-radius: 10px;
}
.fcard button:hover{
  background: #2D4710;
  border: 5px solid #4D7520;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.bar{
  margin-top: 30px;
  width : 270px;
  height : 10px;
  background :#4b4453;
}
.progressbar{
  background :#296122;
  height : 10px;
}

.fcard p{
  margin-top: 10px;
}