.admin-edit-donasi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.admin-edit-donasi-container01 {
  width: 100%;
  height: 157px;
  display: flex;
  align-items: flex-start;
}
.admin-edit-donasi-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: -2%;
  padding-top: var(--dl-space-space-twounits);
  justify-content: center;
}
.admin-edit-donasi-container03 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.admin-edit-donasi-button {
  width: 50px;
  height: 50px;
  padding-left: 4.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-color: #4d7520;
}
.admin-edit-donasi-text {
  font-family: Cardo;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.admin-edit-donasi-container04 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.admin-edit-donasi-image {
  width: 100px;
  object-fit: cover;
}
.admin-edit-donasi-container05 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.admin-edit-donasi-button1 {
  color: #fdfdfc;
  width: 226px;
  height: 61px;
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Cardo;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: 20px;
  border-width: 0px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: 60px;
  border-radius: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  background-color: var(--dl-color-danger-300);
}
.admin-edit-donasi-button1:hover{
  padding-top: 16px;
  padding-left: 60px;
  padding-bottom: 20px;
  transition: 0.3s ease-out;
  background: #701414;
  border: 5px solid #A22020;
}
.admin-edit-donasi-container06 {
  width: 100%;
  height: 249px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 18%;
  padding-right: 18%;
  justify-content: flex-start;
}
.admin-edit-donasi-text01 {
  color: #2d4710;
  font-size: 64px;
  font-style: normal;
  text-align: left;
  font-family: Oswald;
  font-weight: 400;
}
.admin-edit-donasi-image1 {
  top: 6px;
  left: 717px;
  width: 332px;
  height: 284px;
  position: absolute;
  object-fit: cover;
}
.admin-edit-donasi-container07 {
  width: 100%;
  height: 756px;
  display: flex;
  align-items: center;
  padding-left: 0%;
  margin-bottom: 5%;
  padding-right: 0%;
  justify-content: center;
}
.admin-edit-donasi-container08 {
  flex: 0 0 auto;
  width: 32%;
  height: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.admin-edit-donasi-text05 {
  top: 5%;
  left: 5%;
  position: absolute;
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.admin-edit-donasi-text06 {
  color: #4d7520;
}
.admin-edit-donasi-form {
  width: 370px;
  height: 577px;
}
.admin-edit-donasi-container09 {
  top: 88px;
  left: -174px;
  width: 100%;
  height: 88px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
}
.admin-edit-donasi-textinput {
  top: 30px;
  left: 191px;
  color: var(--dl-color-gray-black);
  width: 345px;
  height: 45px;
  position: absolute;
  font-family: Cardo;
  border-color: #4d7520;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
}
.admin-edit-donasi-image2 {
  top: 0px;
  left: 190px;
  width: 24px;
  position: absolute;
  object-fit: cover;
}
.admin-edit-donasi-text07 {
  top: 3px;
  left: 219px;
  position: absolute;
  font-family: Cardo;
}
.admin-edit-donasi-container10 {
  top: 189px;
  left: -172px;
  width: 100%;
  height: 88px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
}
.admin-edit-donasi-textinput1 {
  top: 30px;
  left: 191px;
  color: var(--dl-color-gray-black);
  width: 345px;
  height: 45px;
  position: absolute;
  font-family: Cardo;
  border-color: #4d7520;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
}
.admin-edit-donasi-image3 {
  top: 0px;
  left: 190px;
  width: 24px;
  position: absolute;
  object-fit: cover;
}
.admin-edit-donasi-text08 {
  top: 5px;
  left: 219px;
  position: absolute;
  font-family: Cardo;
}
.admin-edit-donasi-container11 {
  left: -176px;
  width: 100%;
  bottom: 346px;
  height: 88px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: flex-start;
}
.admin-edit-donasi-image4 {
  top: 0px;
  left: 190px;
  width: 24px;
  position: absolute;
  object-fit: cover;
}
.admin-edit-donasi-text09 {
  top: 3px;
  left: 219px;
  position: absolute;
  font-family: Cardo;
}
.admin-edit-donasi-textarea {
  top: 36px;
  left: 195px;
  width: 345px;
  height: 158px;
  position: absolute;
  border-color: #4d7520;
  border-radius: 10px;
}
.admin-edit-donasi-container12 {
  left: -172px;
  width: 100%;
  bottom: 120px;
  height: 88px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
}
.admin-edit-donasi-textinput2 {
  top: 30px;
  left: 191px;
  color: var(--dl-color-gray-black);
  width: 345px;
  height: 45px;
  position: absolute;
  font-family: Cardo;
  border-color: #4d7520;
  padding-top: 3.5%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
}
::-webkit-file-upload-button{
  display:none;
}
.admin-edit-donasi-image5 {
  top: -1px;
  left: 193px;
  width: 24px;
  height: 24px;
  position: absolute;
  object-fit: cover;
}
.admin-edit-donasi-text10 {
  top: 5px;
  left: 219px;
  position: absolute;
  font-family: Cardo;
}
.admin-edit-donasi-container13 {
  left: -13px;
  width: 100%;
  bottom: 19px;
  height: 88px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: flex-end;
}
.admin-edit-donasi-button2 {
  top: 16px;
  left: 35px;
  color: #fdfdfc;
  width: 160px;
  height: 54px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-family: Cardo;
  padding-top: 3.8%;
  border-color: #950e0e;
  border-width: 2px;
  padding-left: 30px;
  border-radius: 20px;
  padding-right: 30px;
  padding-bottom: 3.8%;
  background-color: transparent;
}
.admin-edit-donasi-button2:hover{
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 15px;
  transition: 0.3s ease-out;
  background: transparent;
  border: 5px solid #A22020;
}
.admin-edit-donasi-text11 {
  color: #950e0e;
}
.admin-edit-donasi-button3 {
  color: #fdfdfc;
  width: 160px;
  height: 54px;
  font-size: 18px;
  text-align: center;
  font-family: Cardo;
  margin-right: 6%;
  padding-top: 3.8%;
  padding-left: 30px;
  border-radius: 20px;
  padding-right: 30px;
  padding-bottom: 3.8%;
  background-color: #4D7520;
}
.admin-edit-donasi-button3:hover{
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 15px;
  transition: 0.3s ease-out;
}
.admin-edit-donasi-container14 {
  flex: 0 0 auto;
  width: 32%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.admin-edit-donasi-container15 {
  flex: 0 0 auto;
  width: 369px;
  height: 447px;
  display: flex;
  align-items: flex-start;
  border-color: #4d7520;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.notif{
  font-size: 14px;
  margin-top: 19%;
  margin-left: 47%;
}

.notif.ntd{
  margin-top: 80%;
  margin-left: 48%;
}