.hasil-cari-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.hasil-cari-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: -2%;
  padding-top: var(--dl-space-space-twounits);
  justify-content: center;
}
.hasil-cari-container02 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.hasil-cari-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: -20px;
}
.hasil-cari-image:hover {
  background-image: url("public/playground_assets/group%2022%20variant2.svg");
}
.hasil-cari-text {
  font-family: Cardo;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
}
.hasil-cari-container03 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hasil-cari-image1 {
  width: 100px;
  object-fit: cover;
}
.hasil-cari-container04 {
  flex: 0 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.hasil-cari-textinput {
  top: 32px;
  left: 26px;
  width: var(--dl-size-size-xxlarge);
  height: 50px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-family: Cardo;
  border-color: #4d7520;
  border-width: 1px;
  padding-left: 10%;
  border-radius: 20px;
}
.hasil-cari-image2 {
  top: 32px;
  right: -15px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
}
.hasil-cari-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-top: 5%;
  align-items: flex-start;
  padding-left: 160px;
  padding-right: 150px;
  padding-bottom: 200px;
  justify-content: flex-start;
}
.hasil-cari-container06 {
  padding-bottom: 15%;
}
.hasil-cari-container07 {
  flex: 0 0 auto;
  width: 314px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hasil-cari-container08 {
  flex: 0 0 auto;
  width: 314px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hasil-cari-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(172, 255, 173, 0.2);
}
.hasil-cari-container10 {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hasil-cari-image3 {
  top: 92px;
  right: -75px;
  width: 287px;
  height: 107px;
  position: absolute;
  object-fit: cover;
}
.hasil-cari-container11 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hasil-cari-text01 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.hasil-cari-text02 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text03 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text04 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text05 {
  left: 78px;
  color: #20330b;
  bottom: 25%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-container12 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hasil-cari-text06 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.hasil-cari-text07 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text08 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text09 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-image4 {
  right: -1px;
  width: 210px;
  bottom: 4px;
  height: 250px;
  position: absolute;
  object-fit: cover;
}
.hasil-cari-container13 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hasil-cari-text10 {
  top: 71px;
  left: 78px;
  color: #2d4710;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Oswald;
  font-weight: 400;
}
.hasil-cari-text11 {
  left: 78px;
  color: #20330b;
  bottom: 55%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text12 {
  left: 78px;
  color: #20330b;
  bottom: 45%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
.hasil-cari-text13 {
  left: 78px;
  color: #20330b;
  bottom: 35%;
  position: absolute;
  font-size: 18px;
  font-family: Cardo;
}
